<div class="header">
  <table>
    <tr>
      <td><img transform_attr="src" transform_value="images/qwebircsmall.png" alt="qwebirc" title="qwebirc"/></td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td><div class="title">qwebirc</div><div class="version">Frequently Asked Questions</div></td>
    </tr>
  </table>
</div>
<div class="mainbody">
  <p><b>What is qwebirc?</b></p>
  <p>qwebirc is a webchat client. It is somewhat similar to Mibbit.</p>
  <p><b>Can I use qwebirc using SSL?</b></p>
  <p>No, as of writing we currently do not support ssl connections.</p>
  <p><b>Can I put webchat on my website?</b></p>
  <p>In a status/channel window, type <b>/embed</b> or click on the qwebirc icon and choose "Add webchat to your site".</p>
  <p>If you need any help related to IRC, join #Help.</p>

  <input type="submit" value="Close" class="close" />
</div>
