<div class="header">
  <table>
    <tr>
      <td><img transform_attr="src" transform_value="images/qwebircsmall.png" alt="qwebirc" title="qwebirc"/></td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td><div class="title">qwebirc</div><div>Feedback</div></td>
    </tr>
  </table>
</div>
<div class="mainbody">
<!-- Change later to a more realistic hight for the feedback page -->
<!-- Use the direct google feedback iframe? -->
<iframe src="https://docs.google.com/a/digitalirc.org/spreadsheet/embeddedform?formkey=dG5GeFBSZ0FCWVFsS2d5N3ZDNFdCOFE6MQ" width=50% height=90% frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
