<div class="header">
  <table>
    <tr>
      <td><img transform_attr="src" transform_value="images/digitalirc-logo.png" alt="DigitalIRC logo" title="DigitalIRC" /></td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td><div class="title">Digial IRC Network</div><div class="version">IRC Rules</div></td>
    </tr>
  </table>
</div>
<div class="mainbody">
  <h3>Server Rules</h3>
<ol>
<li>No harassing the Ops,Admins or guests.</li>

<li>No flooding, this includes messaging an
excessive amount of lines in channel or private message
within a short interval of time. Admins and Ops may enforce
this rule at their discretion.</li>

<li>No mass cloning. Mass Cloning is considered multiple
connections from the same IP/host to the
server. You are allowed to have 2 clones.
Admin reserves the right to enforce this
rule at their discretion.</li>

<li>Bots. There are allowed as many bots per channel as
the founder allows. Either botserv or your own eggdrop etc.
If youre not the founder of a channel remember to ask the
founder before you add the bot. Spam/warez/virus bots
will be glined from the server.</li>

<li>Op/Oper begging is forbidden. If you get really annoying
by begging for op's you may given a 72h kline.</li>

<li>No service abuse. Abuse is determined on a
case-by-case basis.</li>

<li>Profanity must be kept to tolerable levels.
Words deemed by the Admin to be inappropriate
for channel depending on the context within
which they are used, are forbidden. Admins and
Ops reserve the right to enforce this rule
at their discretion.</li>

<li>Away message content is subject to the
profanity rule. Messages should be kept to
minimal lengths. Repeating messages are not allowed.</li>

<li>Overall conduct in channel should be ruled by
common sense. If your behavior, playful or otherwise
becomes too excessive, Ops/Opers at their discretion may
ask that you tone it down, or may be forced to
remove you</li>
</ol>
<p>Failing to follow any of the above rules can result
in</p>
<ul>
<li>kicks</li>
<li>channel bans</li>
<li>kills</li>
<li>server bans.</li>
</ul>

<p>This server's staff reserve the right to deny
access to anyone on this server without the
benefit of prior warning or notification.</p>

<p>By connecting to and using this server you agree
to abide and follow all rules, policies, and
procedures.</p>

  <h3>Disclaimer</h3>
  <p>The use of the webchat server and network is a privilege, not a right.</p>
  <p>IRC is free media, therefore no person or entity involved with *.digitalirc.org takes any responsibility whatsoever for the opinions expressed or the actions taken by users. Absolutely no warranty is either expressed or implied.</p>

<h2>That said, Please Enjoy your stay at DigitalIRC</h2>

  <input type="submit" value="Close" class="close" />
</div>
